.specsWrapper {
    width: 100%;
}

.specsHeadRow {
    @include flex(center, center);
    background: #F3F3F3;
    padding: 20px;
}

.headCol1 {
    flex: 1;
}

.headCol2,
.headCol3,
.headCol4 {
    flex: 2;
}

.headCol5 {
    flex: 5;
}

.specsDataRow {
    @include flex(center, center);
    border-bottom: 1px solid #E0E0E0;
    padding: 20px;
}

.dataCol1 {
    flex: 1;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
}

.dataCol2,
.dataCol3,
.dataCol4 {
    flex: 2;
    font-weight: 400;
    line-height: 16px;
    color: $itvp-grey;
}

.dataCol5 {
    flex: 5;
}

.printBtn {
    @include flex(center, flex-start);
    font-weight: 700;
    line-height: 16px;
    color: $itvp-grey;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}

.printIcon {
    @include WxH(20px, 20px);
    color: $itvp-grey;
}