* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.leftContainer {
  flex: 6;
}

.leftWrapper {
  padding: 0 100px;
}

.leftTextTitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #4F4F4F;
  margin-bottom: 30px;
}

.leftTextDesc {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #4F4F4F;
  margin-bottom: 50px;
}

.leftImportBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 62px;
  gap: 10px;
  background: #F2994A;
  border-radius: 40px;
  cursor: pointer;
}

.uploadIcon {
  width: 24px;
  height: 24px;
  color: white;
}

.leftImportBtn span {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.rightContainer {
  flex: 6;
}

.balanceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.balanceWrapper {
  width: 85%;
}

.balanceTitle {
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 25px;
}

.accountCardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 50px;
}

.specsContainer {
  margin-bottom: 100px;
}

.ChartsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  margin-bottom: 150px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 103px;
  padding: 0 100px;
  background: #FFFDFD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
  z-index: 2;
}

.headerLogo {
  width: 148px;
  height: 69px;
  flex: 2;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex: 8;
}

.headerLink {
  font-weight: 700;
  line-height: 16px;
  color: #4F4F4F;
  cursor: pointer;
  text-decoration: none;
}

.headerBurger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 103px;
  flex-direction: column;
  position: relative;
  background: #F1F1F1;
  cursor: pointer;
}

.headerBurgerRect {
  width: 35px;
  height: 3.52px;
  position: absolute;
  background: #4F4F4F;
  border-radius: 12px;
}

.headerLoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.headerUserLogged {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.headerUserName {
  font-weight: 400;
  line-height: 16px;
  color: #4F4F4F;
}

.headerUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #C4C4C4;
}

.headerLoginBtn {
  width: 143px;
  height: 51px;
  background: #F2994A;
  border-radius: 40px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.accountCardWrapper {
  width: 511px;
  height: 257px;
  position: relative;
  background: #FFFFFF;
  border: 4px solid #F2994A;
  border-radius: 12px;
  padding: 30px;
}

.accountNumber {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #F2994A;
  margin-bottom: 20px;
}

.accountBalanceContainer {
  margin-bottom: 25px;
}

.balanceValue {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #4F4F4F;
  margin-bottom: 5px;
}

.balanceAmount {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: #4F4F4F;
}

.balanceDate {
  position: absolute;
  right: 38px;
  bottom: 28px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #4F4F4F;
}

.specsWrapper {
  width: 100%;
}

.specsHeadRow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  padding: 20px;
}

.headCol1 {
  flex: 1;
}

.headCol2,
.headCol3,
.headCol4 {
  flex: 2;
}

.headCol5 {
  flex: 5;
}

.specsDataRow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 20px;
}

.dataCol1 {
  flex: 1;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}

.dataCol2,
.dataCol3,
.dataCol4 {
  flex: 2;
  font-weight: 400;
  line-height: 16px;
  color: #4F4F4F;
}

.dataCol5 {
  flex: 5;
}

.printBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  line-height: 16px;
  color: #4F4F4F;
  gap: 10px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.printIcon {
  width: 20px;
  height: 20px;
  color: #4F4F4F;
}

.chartsWrapper {
  width: 545px;
  height: 345px;
  background: #FFFFFF;
  border: 4px solid #E0E0E0;
  border-radius: 12px;
  padding: 30px;
}/*# sourceMappingURL=style.css.map */